<body class="bg-white">
<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto pl-5 pr-5">
              <h3 class="login-heading mb-4">Đăng ký thành viên nhận ngay ưu đãi!</h3>
              <form>
                <div class="form-label-group">
                  <input type="email" id="inputEmail" class="form-control"
                         placeholder="Email address">
                  <label for="inputEmail">Email address / Mobile</label>
                </div>
                <div class="form-label-group">
                  <input type="password" id="inputPassword" class="form-control"
                         placeholder="Password">
                  <label for="inputPassword">Password</label>
                </div>
                <div class="form-label-group mb-4">
                  <input type="text" id="ptext" class="form-control" placeholder="Promocode">
                  <label for="ptext">Promocode</label>
                </div>
                <a href="index.html"
                   class="btn btn-lg btn-outline-primary btn-block btn-login text-uppercase font-weight-bold mb-2">Đăng nhập</a>
                <div class="text-center pt-3">
                  Bạn đã có tài khoản? <a class="font-weight-bold" href="login.html">Đăng nhập ngay</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
