<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto pl-5 pr-5">
              <h3 class="login-heading mb-4">Wellcome back!</h3>
              <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-label-group">
                  <input type="email" id="inputEmail" formControlName="username" class="form-control"
                         placeholder="Email address">
                  <label for="inputEmail">Email</label>
                  <p style="color: red" *ngIf="!loginForm.get('username')?.valid && loginForm.get('username')?.touched">Blank is not allowed, format: example@gmail.com, maxlength: 50</p>
                </div>
                <div class="form-label-group">
                  <input type="password" id="inputPassword" formControlName="password" class="form-control"
                         placeholder="Password">
                  <label for="inputPassword">Password</label>
                  <p style="color: red" *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched">Blank is not allowed, minlength: 4, maxlength: 20</p>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember me</label>
                </div>
                <button type="submit" class="btn btn-lg btn-outline-primary btn-block btn-login text-uppercase font-weight-bold mb-2" style="margin-right: 10px">Login</button>
                <button class="btn btn-lg btn-outline-secondary btn-block btn-login text-uppercase font-weight-bold mb-2" routerLink="/">Cancel</button>
                <div class="text-center pt-3">
                  Do not have an account?
                  <a class="font-weight-bold" routerLink="/register-seller">Sign up a Seller</a>
                  <span><=></span>
                  <a class="font-weight-bold" routerLink="/register-customer">Sign up a Customer</a>
                </div>
              </form>
              <hr class="my-4">
              <p class="text-center">LOG IN WITH SOCIAL ACCOUNT</p>
              <div class="row">
                <div class="col pr-2">
                  <button
                    class="btn pl-1 pr-1 btn-lg btn-google font-weight-normal text-white btn-block text-uppercase"
                    type="submit"><i class="fab fa-google mr-2"></i> Google</button>
                </div>
                <div class="col pl-2">
                  <button
                    class="btn pl-1 pr-1 btn-lg btn-facebook font-weight-normal text-white btn-block text-uppercase"
                    type="submit"><i class="fab fa-facebook-f mr-2"></i> Facebook</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

