<nav class="navbar navbar-expand-lg navbar-light bg-light osahan-nav shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="index.html"><img alt="logo" src="assets/img/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" *ngIf="!loginService.check">Log in <span class="sr-only"></span></a>
          <a class="nav-link" (click)="logOut()" *ngIf="loginService.check">Log out <span class="sr-only"></span></a>
        </li>
        <li class="nav-item dropdown dropdown-cart">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-shopping-basket"></i> Cart
            <span class="badge badge-success">5</span>
          </a>
          <div class="dropdown-menu dropdown-cart-top p-0 dropdown-menu-right shadow-sm border-0">
            <div class="dropdown-cart-top-body border-top p-4">
<!--              <p class="mb-2"><i class="icofont-ui-press text-danger food-item"></i> Chicken Tikka-->
<!--                Sub-->
<!--                12" (30 cm) x 1 <span class="float-right text-secondary">314.000</span></p>-->
<!--              <p class="mb-2"><i class="icofont-ui-press text-success food-item"></i> Corn & Peas-->
<!--                Salad x 1 <span class="float-right text-secondary">209.000</span></p>-->
              <div class="gold-members p-2 border-bottom">

                <p class="text-gray mb-0 float-right ml-2 classTotalOneProduct">{{priceProduct[0]}}</p>
                <span class="count-number float-right">
                  <button class="btn btn-outline-secondary btn-minus btn-sm left dec" (click)="decrease(0)"> <i
                                      class="icofont-minus"></i> </button>
                  <span class="count-number-input" type="text" style="margin: 1px">1</span>
                  <button class="btn btn-outline-secondary btn-plus btn-sm right inc" (click)="increase(0)"> <i
                                      class="icofont-plus"></i>
                  </button>
                </span>
                <div class="media">
                  <div class="mr-2">
                    <button type="button" class="close" aria-label="Close" (click)="deleteOneProduct(0)">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="media-body">
                    <p class="mt-1 mb-0 text-black">Coca chai 330ml</p>
                  </div>
                </div>
              </div>


              <div class="gold-members p-2 border-bottom">
                <p class="text-gray mb-0 float-right ml-2 classTotalOneProduct">{{priceProduct[1]}}</p>
                <span class="count-number float-right">
                  <button class="btn btn-outline-secondary btn-minus btn-sm left dec" (click)="decrease(1)"> <i
                    class="icofont-minus"></i> </button>
                  <span class="count-number-input" type="text" style="margin: 1px">1</span>
                  <button class="btn btn-outline-secondary btn-plus btn-sm right inc" (click)="increase(1)"> <i
                    class="icofont-plus"></i> </button>
                </span>
                <div class="media">
                  <div class="mr-2"><i class="icofont-ui-press text-success food-item"></i></div>
                  <div class="media-body">
                    <p class="mt-1 mb-0 text-black">Latte chai 330ml</p>
                  </div>
                </div>
              </div>

            </div>
            <div class="dropdown-cart-top-footer border-top p-4">
              <p class="mb-0 font-weight-bold text-secondary">Tổng tiền <span
                class="float-right text-dark">{{totalCart}}</span></p>
               <small class="text-info">Not included VAT and other charges</small>
            </div>
            <div class="dropdown-cart-top-footer border-top p-2">
              <a class="btn btn-success btn-block btn-lg" routerLink="/user/order-user"> Thanh toán</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

