<nav class="navbar navbar-expand-lg navbar-light bg-light osahan-nav shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="index.html"><img alt="logo" src="assets/img/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" *ngIf="!loginService.check">Log in <span class="sr-only"></span></a>
          <a class="nav-link" (click)="logOut()" *ngIf="loginService.check">Log out <span class="sr-only"></span></a>

        </li>
        <li class="nav-item dropdown dropdown-cart">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-shopping-basket"></i> Cart
            <span class="badge badge-success">5</span>
          </a>
          <div class="dropdown-menu dropdown-cart-top p-0 dropdown-menu-right shadow-sm border-0">
            <div class="dropdown-cart-top-body border-top p-4">
              <p class="mb-2"><i class="icofont-ui-press text-danger food-item"></i> Chicken Tikka
                Sub
                12" (30 cm) x 1 <span class="float-right text-secondary">314.000</span></p>
              <p class="mb-2"><i class="icofont-ui-press text-success food-item"></i> Corn & Peas
                Salad x 1 <span class="float-right text-secondary">209.000</span></p>
              <p class="mb-2"><i class="icofont-ui-press text-success food-item"></i> Veg Seekh
                Sub 6"
                (15 cm) x 1 <span class="float-right text-secondary">133.000</span></p>
              <p class="mb-2"><i class="icofont-ui-press text-danger food-item"></i> Chicken Tikka
                Sub
                12" (30 cm) x 1 <span class="float-right text-secondary">314.000</span></p>
              <p class="mb-2"><i class="icofont-ui-press text-danger food-item"></i> Corn & Peas
                Salad
                x 1 <span class="float-right text-secondary">209.000</span></p>
            </div>
            <div class="dropdown-cart-top-footer border-top p-4">
              <p class="mb-0 font-weight-bold text-secondary">Tổng tiền <span
                class="float-right text-dark">499.000</span></p>
              <!-- <small class="text-info">Extra charges may apply</small> -->
            </div>
            <div class="dropdown-cart-top-footer border-top p-2">
              <a class="btn btn-success btn-block btn-lg" href="checkout.html"> Thanh toán</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
