<section class="breadcrumb-osahan pt-5 pb-5 bg-dark position-relative text-center">
  <h1 class="text-white">Order</h1>
</section>
<section class="section pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="p-5 osahan-invoice bg-white shadow-sm">
          <div class="row mb-5 pb-3 ">
            <div class="col-md-8 col-10">
              <h3 class="mt-0">Thank you for shopping at <strong class="text-secondary">Ogani</strong>,
                Here are your order details: </h3>
            </div>
            <div class="col-md-4 col-2 pl-0 text-right">
              <p class="mb-4 mt-2">
                <a class="text-primary font-weight-bold" href="#"><i class="icofont-print"></i>
                  PRINT</a>
              </p>
              <img alt="logo" src="assets/img/favicon.png">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p class="mb-1 text-black">Order code: <strong>#{{order.id}}</strong></p>
              <p class="mb-1">Order date: <strong>{{order.createAt}}</strong></p>
<!--              <p class="mb-1">Thời điểm giao hàng dự kiến: <strong>12/11/2018, 07:18 PM</strong></p>-->
              <p class="mb-1">Order status: <strong class="text-success">{{order.orderStatus.nameOrderStatus}}</strong></p>
            </div>
            <div class="col-md-6">
              <p class="mb-1 text-black">Delivery address:</p>
              <p class="mb-1">{{order.customer.address}}</p>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-12">
              <p class="mb-1">Shop:</p>
              <h6 class="mb-1 text-black"><strong>{{order.seller.name}}</strong></h6>
              <p class="mb-1">{{order.seller.address}}</p>
              <table class="table mt-3 mb-0">
                <thead class="thead-light">
                <tr>
                  <th class="text-black font-weight-bold" scope="col">#</th>
                  <th class="text-black font-weight-bold" scope="col">Product</th>
                  <th class="text-right text-black font-weight-bold" scope="col">Quantity</th>
                  <th class="text-right text-black font-weight-bold" scope="col">Price</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let d of orderDetail; index as i">
                  <td>{{i + 1}}</td>
                  <td>{{d.product.name}}</td>
                  <td class="text-right">{{d.quantity}}</td>
                  <td class="text-right">{{d.price}}</td>
                </tr>

                <tr>
                  <td class="text-right" colspan="2">Total amount:</td>
                  <td class="text-right">{{order.totalCart}}</td>
                </tr>
                <tr>
                  <td class="text-right" colspan="2">VAT:</td>
                  <td class="text-right">0</td>
                </tr>
                <tr>
                  <td class="text-right" colspan="2">Delivery charges:</td>
                  <td class="text-right">0</td>
                </tr>
                <tr>
                  <td class="text-right" colspan="2">Total discount:</td>
                  <td class="text-right">{{order.totalDiscount}}</td>
                </tr>
                <tr>
                  <td class="text-right" colspan="2">
                    <h6 class="text-success">Total payment:</h6>
                  </td>
                  <td class="text-right">
                    <h6 class="text-success">{{order.priceTotal}}</h6>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
