<div class="tab-pane fade show active" id="orders" role="tabpanel"
     aria-labelledby="orders-tab"></div>
<h4 class="font-weight-bold mt-0 mb-4 mb-0 text-black text-primary pt-2">Shop's List Product</h4>
<div style="" class="bg-white card mb-4 order-list shadow-sm"*ngFor="let order of orderList |paginate: {itemsPerPage :4, currentPage :p}" >
  <div class="gold-members p-4" style="background-color: ghostwhite">
    <a href="#">
      <div class="media">
        <img class="mr-4" style="border-radius: 50%" src="{{order.customer.avatar}}" alt="Generic placeholder image">
        <div class="media-body">
          <span class="float-right text-info">-- ID ORDER #: {{order.id}} --<i class="icofont-check-circled text-success"></i></span>
          <h6 class="mb-2 mb-0 text-black text-primary pt-2">Name (Mrs. / Mr.) : {{order.customer.name}}
          </h6>
          <h6 class="mb-2 mb-0 text-black text-primary pt-2">Phone Number: {{order.customer.phoneNumber}}
          </h6>
          <p class="text-info mb-1"><i class="icofont-location-arrow"></i>Customer's Address:  {{order.customer.address}}
          </p>
          <p class="text-info mb-3"><i class="icofont-list"></i> ORDER
            #25102589748 <i class="icofont-clock-time ml-2"></i>Create At:  {{order.createAt}}</p>
          <p>Product Description: <a class="mb-0 text-black text-primary pt-2" *ngIf="order.orderStatus?.id === 1"><span class="status text-success"  >&bull;</span>{{order.orderStatus.nameOrderStatus}}</a>
          </p>
          <hr>
          <div class="float-right">
            <a data-toggle="modal" data-target="#edit-product-modal" [routerLink]="'edit-product/'+order.id" class="btn btn-sm btn-outline-primary" href="#"><a><i
              class="icofont-edit-alt"></i> CONFIRM</a></a>
<!--            <a data-toggle="modal" data-target="#delete-product-modal" [routerLink]="'delete-product/'+order.id" class="btn btn-sm btn-primary mr-2" href="#"><a><i-->
<!--              class="icofont-delete-alt"></i> REMOVE</a></a>-->
          </div>
          <p class="mb-0 text-black text-primary pt-2"><span
            class="text-black font-weight-bold">Price Total: </span>${{order.priceTotal}}
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
<div style="display: flex;justify-content: center;">
  <pagination-controls class="btn btn-sm btn-outline-primary" class="myPagination" (pageChange)="p = $event">
  </pagination-controls>
</div>
<!--<div class="modal fade" id="delete-product-modal" tabindex="-1" role="dialog" aria-labelledby="add-address"-->
<!--     aria-hidden="true">-->
<!--  <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h4 class="modal-title" id="add-address" style="color: #dc3545">Delete Product</h4>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <h5 style="text-align: center">DO YOU REALLY WISH TO DELETE THIS PRODUCT</h5><br>-->
<!--        <h6 style="color: #d39e00;text-align: center">-&#45;&#45;  This product will be removed from your shop  -&#45;&#45;</h6>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn d-flex w-50 text-center justify-content-center btn-outline-primary"-->
<!--                data-dismiss="modal">CANCEL-->
<!--        </button><button type="button"-->
<!--                         class="btn d-flex w-50 text-center justify-content-center btn-primary">SUBMIT</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

