
<section class="section pt-4 pb-4 osahan-account-page">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="osahan-account-page-left shadow-sm rounded bg-white h-100">
          <div class="border-bottom p-4">
            <div class="osahan-user text-center">
              <div class="osahan-user-media">
                <img class="mb-3 rounded-pill shadow-sm mt-1" src="assets/img/user/4.png"
                     alt="gurdeep singh osahan">
                <div class="osahan-user-media-body">
                  <h6 class="mb-2">Admin</h6>

                </div>
              </div>
            </div>
          </div>
          <ul class="nav nav-tabs flex-column border-0 pt-4 pl-4 pb-4" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" routerLink="/admin" id="orders-tab" data-toggle="tab" href="#orders" role="tab"
                 aria-controls="orders" aria-selected="true"><i class="icofont-food-cart"></i>
                Seller Management</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/admin/waiting-accept-seller" id="favourites-tab" data-toggle="tab" href="#favourites" role="tab"
                 aria-controls="favourites" aria-selected="false"><i class="icofont-heart"></i>
                Accept-Waiting Seller</a>
            </li>
          </ul>
        </div>
      </div>


      <div class="col-md-9">
        <div class="osahan-account-page-right rounded shadow-sm bg-white p-4 h-100">
          <div class="tab-content" id="myTabContent">

            <router-outlet></router-outlet>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


