
<section class="footer pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12 col-sm-12">
        <h6 class="mb-3">SIGN UP TO RECEIVE INFORMATION WHEN A DISCOUNT IS AVAILABLE</h6>
        <form class="newsletter-form mb-1">
          <div class="input-group">
            <input type="text" placeholder="Email của bạn" class="form-control">
            <div class="input-group-append">
              <button type="button" class="btn btn-primary">
                Register
              </button>
            </div>
          </div>
        </form>
        <p><a class="text-info" href="register.html">Register</a> to receive<a
          href="offers.html"> thousands of other offers</a></p>
        <div class="app">
          <p class="mb-2">DOWNLOAD APP</p>
          <a href="#">
            <img class="img-fluid" src="assets/img/google.png">
          </a>
          <a href="#">
            <img class="img-fluid" src="assets/img/apple.png">
          </a>
        </div>
      </div>
      <div class="col-md-1 col-sm-6 mobile-none">
      </div>
      <div class="col-md-2 col-6 col-sm-4">
        <h6 class="mb-3">About us
        </h6>
        <ul>
          <li><a href="#">Contact Info</a></li>
          <li><a href="#">
            Corporate culture</a></li>
          <li><a href="#">Vision, mission</a></li>
          <li><a href="#">Recruit</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-6 col-sm-4">
        <h6 class="mb-3">For the store</h6>
        <ul>
          <li><a href="#">
            Technical assistance</a></li>
          <li><a href="#">Sales support
          </a></li>
          <li><a href="#">Feedback</a></li>
          <li><a href="#">
            Complain</a></li>
        </ul>
      </div>
      <div class="col-md-2 m-none col-4 col-sm-4">
        <h6 class="mb-3">Client</h6>
        <ul>
          <li><a href="#">Protecting the interests of consumers</a></li>
          <li><a href="#">
            Customer care</a></li>
          <li><a href="#">
            Complain</a></li>
          <li><a href="#">Complain</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<footer class="pt-4 pb-4 text-center">
  <div class="container">
    <p class="mt-0 mb-0">© CodeGym Việt Nam©2022. All rights reserved.</p>
<!--    <small class="mt-0 mb-0"> Made with <i class="fas fa-heart heart-icon text-danger"></i> by-->
<!--      <a class="text-danger" target="_blank"-->
<!--         href="http://thaotrinh.info">thaotrinh.info</a>-->
<!--    </small>-->
  </div>
</footer>
