
<section class="footer pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12 col-sm-12">
        <h6 class="mb-3">SIGN UP TO RECEIVE INFORMATION WHEN A DISCOUNT IS AVAILABLE</h6>
        <form class="newsletter-form mb-1">
          <div class="input-group">
            <input type="text" placeholder="Email của bạn" class="form-control">
            <div class="input-group-append">
              <button type="button" class="btn btn-primary">
                Register
              </button>
            </div>
          </div>
        </form>
        <p><a class="text-info" href="register.html">Register</a> to receive<a
          href="offers.html"> thousands of other offers</a></p>
        <div class="app">
          <p class="mb-2">DOWNLOAD APP</p>
          <a href="#">
            <img class="img-fluid" src="assets/img/google.png">
          </a>
          <a href="#">
            <img class="img-fluid" src="assets/img/apple.png">
          </a>
        </div>
      </div>
      <div class="col-md-1 col-sm-6 mobile-none">
      </div>
      <div class="col-md-2 col-6 col-sm-4">
        <h6 class="mb-3">Company
        </h6>
        <ul>
          <li><a href="#">Organi VietNam</a></li>
          <li><a href="#">
            Organi Japan</a></li>
          <li><a href="#">Organi India</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-6 col-sm-4">
        <h6 class="mb-3">Founder</h6>
        <ul>
          <li><a href="#">
            Vu Viet Viet</a></li>
          <li><a href="#">Chu Thi Tinh
          </a></li>
          <li><a href="#">Ho Tuan Dung</a></li>
          <li><a href="#">
            Pham Van Bien</a></li>
        </ul>
      </div>
      <div class="col-md-2 m-none col-4 col-sm-4">
        <h6 class="mb-3">Contact</h6>
        <ul>
          <li><a href="#">Phone number: 0968.266.366</a></li>
          <li><a href="#">
            Email: ogani.vietnam@gmail.com</a></li>
          <li><a href="#">
            Fax: 0345.2311.599</a></li>

        </ul>
      </div>
    </div>
  </div>
</section>

<footer class="pt-4 pb-4 text-center">
  <div class="container">
    <p class="mt-0 mb-0">© CodeGym Việt Nam©2022. All rights reserved.</p>
<!--    <small class="mt-0 mb-0"> Made with <i class="fas fa-heart heart-icon text-danger"></i> by-->
<!--      <a class="text-danger" target="_blank"-->
<!--         href="http://thaotrinh.info">thaotrinh.info</a>-->
<!--    </small>-->
  </div>
</footer>
