<p>edit-product works!</p>
<div class="modal fade" id="edit-product-modal" tabindex="-1" role="dialog" aria-labelledby="add-address"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add-address">Update Product</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" (click)="cancel()" style="font-size: 35px">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="padding: 20px; border-radius: 20px;">
          <form [formGroup]="editProductForm" (ngSubmit)="editProduct()">
            <div class="form-label-group mb-4">
              <input type="text" id="name" formControlName="name" class="form-control" >
              <label for="name" style="color:black;">New Product's name:</label>
              <p style="color: red" *ngIf="!editProductForm.get('name')?.valid && editProductForm.get('name')?.touched">
                Required Information.</p>
            </div>
            <div class="form-label-group mb-4">
              <select id="productCategory" formControlName="productCategory" class="form-control" >
                <option [selected]="true" [ngValue]="product.productCategory.nameCategory">*Select new Category **</option>
                <option *ngFor="let productCategory of productCategories"
                        [ngValue]="productCategory" >
                  {{productCategory.nameCategory}}
                </option>
              </select>
            </div>
            <div class="form-label-group mb-4">
              <input type="text" id="price" formControlName="price" class="form-control" >
              <label for="price" style="color:black;">New Price: </label>
              <p style="color: red"
                 *ngIf="!editProductForm.get('price')?.valid && editProductForm.get('price')?.touched">Required
                Information.</p>
            </div>
            <div class="form-label-group mb-4">
              <input type="text" id="quantityStorage" formControlName="quantityStorage" class="form-control" >
              <label for="quantityStorage" style="color:black;">Inventory number:</label>
              <p style="color: red"
                 *ngIf="!editProductForm.get('quantityStorage')?.valid && editProductForm.get('quantityStorage')?.touched">
                Required Information, at least 1 && maximum 999 Products</p>
            </div>
            <div class="form-label-group mb-4">
              <input type="file"
                     id="image"
                     #userPhoto
                     (change)="onFileSelected($event)"
                     autocomplete="off"
                     class="form-control"
              />
              <img class="mr-4" src="{{product.image}}" alt="Generic placeholder image" style="width: 247px; height: 160px;border-radius: 10px">
              <label for="image" style="color:black;">New Product's Image: </label>
              <p style="color: red"
                 *ngIf="!editProductForm.get('image')?.valid && editProductForm.get('image')?.touched">Required
                Information.</p>
            </div>
            <div class="form-label-group mb-4">
              <input type="text" id="description" formControlName="description" class="form-control" >
              <label for="description" style="color:black;">New Product's Description:</label>
              <p style="color: red"
                 *ngIf="!editProductForm.get('description')?.valid && editProductForm.get('description')?.touched">
                Required Information, give some product's description!</p>
            </div>
            <button type="submit"
                    class="btn btn-lg btn-outline-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                    data-dismiss="modal" (click)="editProduct()">Update your Product
            </button>
          </form>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn d-flex w-50 text-center justify-content-center btn btn-sm btn-primary mr-2"
                (click)="cancel()"
                data-dismiss="modal">CANCEL
        </button>
        <!--        <button type="button" (click)="deleteProduct(product.id)"-->
        <!--                         class="btn d-flex w-50 text-center justify-content-center btn-primary">SUBMIT</button>-->
      </div>
    </div>
  </div>
</div>
