<section class="section pt-4 pb-4 osahan-account-page">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="osahan-account-page-left shadow-sm rounded bg-white h-100">
          <div class="border-bottom p-4">
            <div class="osahan-user text-center">
              <div class="osahan-user-media">
                <img class="mb-3 rounded-pill shadow-sm mt-1" src="{{customer.avatar}}" style="width: 90px;height: 90px"
                     alt="gurdeep singh osahan">
                <div class="osahan-user-media-body">
                  <h6 class="mb-0 text-black text-primary pt-2" style="font-size: 20px"><a><i
                    class="icofont-ui-user"></i></a>{{customer.name}}</h6><br>
                  <p class="mb-1">{{customer.phoneNumber}}</p>
                  <p>{{customer.appUser.username}}</p>
                  <p class="mb-0 text-black font-weight-bold"><a class="text-primary mr-3"
                                                                 data-toggle="modal" data-target="#edit-profile-modal" href="#"><i
                    class="icofont-ui-edit"></i>  Edit</a></p>
                </div>
              </div>
            </div>
          </div>
          <ul class="nav nav-tabs flex-column border-0 pt-4 pl-4 pb-4" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="['/user/listCartUser', customer.id]" id="orders-tab" data-toggle="tab" href="#listOrder" role="tab"
                 aria-controls="orders" aria-selected="true"><i class="icofont-food-cart"></i>
                Your orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/user/detail-user',customer.id]" id="favourites-tab" data-toggle="tab" href="#profile" role="tab"
                 aria-controls="favourites" aria-selected="false"><i class="icofont-plus-circle"></i>
                Your profile</a>
            </li>
          </ul>
        </div>
      </div>


      <div class="col-md-9">
        <div class="osahan-account-page-right rounded shadow-sm bg-white p-4 h-100">
          <div class="tab-content" id="myTabContent">

            <router-outlet></router-outlet>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

