<div class="modal fade" id="add-address-modal" tabindex="-1" role="dialog" aria-labelledby="add-address"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-address">Add Delivery Address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputPassword4">Delivery Area</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Delivery Area">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i
                    class="icofont-ui-pointer"></i></button>
                </div>
              </div>
            </div>
            <div class="form-group col-md-12">
              <label for="inputPassword4">Complete Address
              </label>
              <input type="text" class="form-control"
                     placeholder="Complete Address e.g. house number, street name, landmark">
            </div>
            <div class="form-group col-md-12">
              <label for="inputPassword4">Delivery Instructions
              </label>
              <input type="text" class="form-control"
                     placeholder="Delivery Instructions e.g. Opposite Gold Souk Mall">
            </div>
            <div class="form-group mb-0 col-md-12">
              <label for="inputPassword4">Nickname
              </label>
              <div class="btn-group btn-group-toggle d-flex justify-content-center"
                   data-toggle="buttons">
                <label class="btn btn-info active">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> Home
                </label>
                <label class="btn btn-info">
                  <input type="radio" name="options" id="option2" autocomplete="off"> Work
                </label>
                <label class="btn btn-info">
                  <input type="radio" name="options" id="option3" autocomplete="off"> Other
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn d-flex w-50 text-center justify-content-center btn-outline-primary"
                data-dismiss="modal">CANCEL
        </button><button type="button"
                         class="btn d-flex w-50 text-center justify-content-center btn-primary">SUBMIT</button>
      </div>
    </div>
  </div>
</div>

<section class="offer-dedicated-body mt-4 mb-4 pt-2 pb-2">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="offer-dedicated-body-left">
          <div class="bg-white rounded shadow-sm p-4">
            <h4 class="mb-1">Payment orders</h4>
          </div>
          <div class="pt-2"></div>
          <div class="bg-white rounded shadow-sm p-4 mb-4">
            <h4 class="mb-1">Choose the delivery addresses</h4>
            <!-- <h6 class="mb-3 text-black-50">Multiple addresses in this location</h6> -->
            <div class="row">
              <div class="col-md-6">
                <div class="bg-white card addresses-item mb-4 border border-success">
                  <div class="gold-members p-4">
                    <div class="media">
                      <div class="mr-3"><i class="icofont-ui-home icofont-3x"></i></div>
                      <div class="media-body">
                        <h6 class="mb-1 text-black">Home</h6>
                        <p class="text-black">{{addressCustomer}}</p>
                        <p class="mb-0 text-black font-weight-bold"><a
                          class="btn btn-sm btn-success mr-2" href="#"> Deliver to this address</a>
                          <span>30MIN</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
<!--              <div class="col-md-6">-->
<!--                <div class="bg-white card addresses-item mb-4">-->
<!--                  <div class="gold-members p-4">-->
<!--                    <div class="media">-->
<!--                      <div class="mr-3"><i class="icofont-briefcase icofont-3x"></i></div>-->
<!--                      <div class="media-body">-->
<!--                        <h6 class="mb-1 text-secondary">Work</h6>-->
<!--                        <p>107/50A Đường Số 11, P. 11, Gò Vấp, TP. HCM-->
<!--                        </p>-->
<!--                        <p class="mb-0 text-black font-weight-bold"><a-->
<!--                          class="btn btn-sm btn-secondary mr-2" href="#"> Giao-->
<!--                          ngay</a>-->
<!--                          <span>40MIN</span>-->
<!--                        </p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
              <div class="col-md-6">
                <div class="bg-white card addresses-item">
                  <div class="gold-members p-4">
                    <div class="media">
                      <div class="mr-3"><i class="icofont-location-pin icofont-3x"></i></div>
                      <div class="media-body">
                        <h6 class="mb-1 text-secondary">Other</h6>
                        <p>New Address</p>
                        <p class="mb-0 text-black font-weight-bold"><a data-toggle="modal"
                                                                       data-target="#add-address-modal"
                                                                       class="btn btn-sm btn-primary mr-2" href="#">Add new shipping address</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
<!--            <div class="row">-->
<!--&lt;!&ndash;              <div class="col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="bg-white card addresses-item">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="gold-members p-4">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="media">&ndash;&gt;-->
<!--&lt;!&ndash;                      <div class="mr-3"><i class="icofont-location-pin icofont-3x"></i></div>&ndash;&gt;-->
<!--&lt;!&ndash;                      <div class="media-body">&ndash;&gt;-->
<!--&lt;!&ndash;                        <h6 class="mb-1 text-secondary">Other</h6>&ndash;&gt;-->
<!--&lt;!&ndash;                        <p>100 Thạch Thị Thanh, P. Tân Định, Quận 1, TP. HCM&ndash;&gt;-->
<!--&lt;!&ndash;                        </p>&ndash;&gt;-->
<!--&lt;!&ndash;                        <p class="mb-0 text-black font-weight-bold"><a&ndash;&gt;-->
<!--&lt;!&ndash;                          class="btn btn-sm btn-secondary mr-2" href="#"> Giao&ndash;&gt;-->
<!--&lt;!&ndash;                          ngay</a>&ndash;&gt;-->
<!--&lt;!&ndash;                          <span>45MIN</span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </p>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--              <div class="col-md-6">-->
<!--                <div class="bg-white card addresses-item">-->
<!--                  <div class="gold-members p-4">-->
<!--                    <div class="media">-->
<!--                      <div class="mr-3"><i class="icofont-location-pin icofont-3x"></i></div>-->
<!--                      <div class="media-body">-->
<!--                        <h6 class="mb-1 text-secondary">Other</h6>-->
<!--                        <p>Địa chỉ giao hàng mới</p>-->
<!--                        <p class="mb-0 text-black font-weight-bold"><a data-toggle="modal"-->
<!--                                                                       data-target="#add-address-modal"-->
<!--                                                                       class="btn btn-sm btn-primary mr-2" href="#"> Thêm địa chỉ-->
<!--                          giao hàng mới</a>-->
<!--                        </p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
          </div>
          <div class="pt-2"></div>
<!--          <div class="bg-white rounded shadow-sm p-4 osahan-payment">-->
<!--            <h4 class="mb-1">Phương thức thanh toán</h4>-->
<!--            <h6 class="mb-3 text-black-50">Thanh toán khi nhận hàng</h6>-->
<!--            <div class="row">-->
<!--              <div class="col-sm-4 pr-0">-->
<!--                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"-->
<!--                     aria-orientation="vertical">-->
<!--                  <a class="nav-link active" id="v-pills-cash-tab" data-toggle="pill"-->
<!--                     href="#v-pills-cash" role="tab" aria-controls="v-pills-cash"-->
<!--                     aria-selected="false"><i class="icofont-money"></i> COD</a>-->
<!--                  <a class="nav-link" id="v-pills-home-tab" data-toggle="pill"-->
<!--                     href="#v-pills-home" role="tab" aria-controls="v-pills-home"-->
<!--                     aria-selected="true"><i class="icofont-credit-card"></i> Credit/Debit-->
<!--                    Cards</a>-->
<!--                  <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill"-->
<!--                     href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"-->
<!--                     aria-selected="false"><i class="icofont-bank-alt"></i> Netbanking</a>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-sm-8 pl-0">-->
<!--                <div class="tab-content h-100" id="v-pills-tabContent">-->
<!--                  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"-->
<!--                       aria-labelledby="v-pills-home-tab">-->
<!--                    <form>-->
<!--                      <div class="form-row">-->
<!--                        <div class="form-group col-md-12">-->
<!--                          <label>Ghi chú cho cửa hàng-->
<!--                          </label>-->
<!--                          <textarea rows='5' class="form-control"-->
<!--                                    placeholder="Cửa hàng nên lưu ý..."></textarea>-->
<!--                        </div>-->
<!--                        <div class="form-group col-md-12">-->
<!--                          <div class="custom-control custom-checkbox">-->
<!--                            <input type="checkbox" class="custom-control-input"-->
<!--                                   id="customCheck1">-->
<!--                            <label class="custom-control-label"-->
<!--                                   for="customCheck1">Securely save this card for a faster-->
<!--                              checkout next time.</label>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="form-group col-md-12 mb-0">-->
<!--                          <a href="thanks.html"-->
<!--                             class="btn btn-success btn-block btn-lg">Thanh toán 535.000-->
<!--                            <i class="icofont-long-arrow-right"></i></a>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </form>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
      <div class="col-md-4">
        <div class="generator-bg rounded shadow-sm mb-4 p-4 osahan-cart-item">
          <div class="d-flex mb-4 osahan-cart-item-profile">
            <img class="img-fluid mr-3 rounded-pill" alt="osahan" src="{{cartService.productListToCart[0].seller.imageBanner}}">
            <div class="d-flex flex-column">
              <h6 class="mb-1 text-white">{{cartService.productListToCart[0].seller.name}}
              </h6>
              <p class="mb-0 text-white"><i class="icofont-location-pin"></i>{{cartService.productListToCart[0].seller.address}}</p>
            </div>
          </div>
          <div class="bg-white rounded shadow-sm mb-2">
            <div class="gold-members p-2 border-bottom" *ngFor="let p of cartService.productListToCart; index as i">
              <p class="text-gray mb-0 float-right ml-2">{{cartService.totalPriceAProductAfterOrder[i]}}</p>
              <div class="media">
                <div class="mr-2"><i class="icofont-ui-press text-success food-item"></i></div>
                <div class="media-body">
                  <p class="mt-1 mb-0 text-black">
                    <span>{{p.name}}</span>
                    X<span>{{cartService.quantityAProductAfterOrder[i]}}</span>
                  </p>
                </div>
              </div>
            </div>

          </div>
          <div class="mb-2 bg-white rounded p-2 clearfix">
              <div class="input-group input-group-sm mb-2">
                <select style="padding-right: 100px" #valueCoupon>
                  <option value="0" style="color: #7a7e8a" selected>Coupon</option>
                  <option value="{{s.priceDiscount}}" *ngFor="let s of orderService.saleListToSeller">{{s.name}}</option>
                </select>

                <div class="input-group-append">
                  <a class="btn btn-primary" type="button" id="button-addon" style="color: white" (click)="applyCoupon(valueCoupon.value)"><i
                    class="icofont-sale-discount" ></i> APPLY</a>
                </div>
              </div>

<!--            <div class="input-group mb-0">-->
<!--              <div class="input-group-prepend">-->
<!--                <span class="input-group-text"><i class="icofont-comment"></i></span>-->
<!--              </div>-->
<!--              <textarea class="form-control" placeholder="Cửa hàng cần chú ý..."-->
<!--                        aria-label="With textarea"></textarea>-->
<!--            </div>-->
          </div>
          <div class="mb-2 bg-white rounded p-2 clearfix">
            <p class="mb-1">Total amount <span class="float-right text-dark" id="totalCart">{{cartService.totalCart}}</span></p>

            <p class="mb-1">Service cost <span class="text-info" data-toggle="tooltip"
                                              data-placement="top" title="Total discount breakup">
                                    <i class="icofont-info-circle"></i>
                                </span> <span class="float-right text-dark">0</span>
            </p>
            <p class="mb-1">Transportation cost <span class="text-info" data-toggle="tooltip"
                                                 data-placement="top" title="Total discount breakup">
                                <i class="icofont-info-circle"></i>
                            </span> <span class="float-right text-dark">0</span>
            </p>
            <p class="mb-1 text-success">Total discount
              <span class="float-right text-success" id="totalDiscount">{{totalDiscount}}</span>
            </p>
            <hr />
            <h6 class="font-weight-bold mb-0">Total payment <span class="float-right">{{totalPayment}}</span></h6>
          </div>
          <a class="btn btn-success btn-block btn-lg" (click)="payment()">Payment
            <i class="icofont-long-arrow-right"></i></a>
        </div>
        <div class="pt-2"></div>

        <div class="pt-2"></div>

      </div>
    </div>
  </div>
</section>
