<section class="restaurant-detailed-banner">
  <div class="text-center">
    <img class="img-fluid cover" src="{{product.seller.imageBanner}}">
  </div>
  <div class="restaurant-detailed-header">
    <div class="container">
      <div class="row d-flex align-items-end">
        <div class="col-md-8">
          <div class="restaurant-detailed-header-left">
            <img class="img-fluid mr-3 float-left" alt="osahan" src="{{product.seller.avatar}}">
            <a [routerLink]="['/seller-detail', product.seller.id]"><h2 class="text-white">{{product.seller.name}}</h2></a>
            <p class="text-white mb-1"><i class="icofont-location-pin"></i>{{product.seller.address}} </p>
            <p class="text-white mb-0"><i class="icofont-food-cart"></i> {{product.seller.phoneNumber}}</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="restaurant-detailed-header-right text-right">
            <button class="btn btn-success" type="button"><i class="icofont-clock-time"></i> Giao hàng:
              25–35 min
            </button>
            <h6 class="text-white mb-0 restaurant-detailed-ratings"><span
              class="generator-bg rounded text-white"><i class="icofont-star"></i> 3.1</span> 23
              Ratings <i class="ml-3 icofont-speech-comments"></i> 91 reviews</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="offer-dedicated-nav bg-white border-top-0 shadow-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
                    <span class="restaurant-detailed-action-btn float-right">
                        <button class="btn btn-light btn-sm border-light-btn" type="button"><i
                          class="icofont-heart text-danger"></i></button>
                        <a [routerLink]="['/seller-detail', product.seller.id]" class="btn btn-light btn-sm border-light-btn" type="button"><i
                          class="icofont-cauli-flower text-success"></i> Shop's detail</a>
                    </span>
        <ul class="nav" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-order-online-tab" data-toggle="pill"
               href="#pills-order-online" role="tab" aria-controls="pills-order-online"
               aria-selected="true">Product Information</a>
          </li>
          <!-- <li class="nav-item">
              <a class="nav-link" id="pills-reviews-tab" data-toggle="pill" href="#pills-reviews"
                  role="tab" aria-controls="pills-reviews" aria-selected="false">Đánh giá & Reviews</a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="offer-dedicated-body pt-2 pb-2 mt-4 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="offer-dedicated-body-left">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-order-online" role="tabpanel"
                 aria-labelledby="pills-order-online-tab">
              <div id="#menu" class="bg-white rounded shadow-sm p-4 mb-4">
                <div class="address-map float-right ml-5">
                  <div class="mapouter">

                    <img width="300" height="170" class="img-fluid" src="{{product.image}}">
                  </div>
                </div>
                <h5 class="mb-4">{{product.name}}</h5>
<!--                <p class="mb-3">-->
<!--                  <span class="fa fa-location-arrow locationicon"></span>40 Duy Tân, <i-->
<!--                  class="fa fa-map" aria-hidden="true"></i> Quận Cầu Giấy, Hà Nội-->
<!--                </p>-->
                <br>
<!--                <p class="mb-2 text-black"><i class="icofont-phone-circle text-primary mr-2"></i>-->
<!--                  +91 01234-56789, +91 01234-56789</p>-->
<!--                <br>-->
                <p class="mb-2 text-black"><i class="icofont-bill-alt text-primary mr-2"></i> <a
                  href="https://thaotrinh.info/cdn-cgi/l/email-protection"
                  class="__cf_email__"
                  data-cfemail="97fef6faf8e4f6fff6f9d7f0faf6fefbb9f4f8fa">Price: {{product.price}}</a>
                </p>
                <p class="mb-2 text-black"><i class="icofont-clock-time text-primary mr-2"></i>Sold:
                  {{product.sold}}
<!--                  <span class="badge badge-success"> OPEN NOW </span>-->
                </p>
                <hr class="clearfix">
                <p class="text-black mb-0">{{product.description}}</p>
                <hr class="clearfix">

                // Show list hình ảnh ở đây


                <div
                  class="owl-carousel owl-theme owl-carousel-five offers-interested-carousel mb-3">
                  <div class="item" *ngFor="let imgP of productImageList">
                    <div class="mall-category-item">
                      <a href="#">
                        <img class="img-fluid" src="{{imgP.image}}">
                        <h6>Burgers</h6>
                      </a>
                    </div>
                  </div>
                </div>
                <a class=" btn btn-success" (click)="addToCart(product.id)" >Add to cart</a>
              </div>


              <div id="#" class="bg-white rounded shadow-sm p-4 mb-4 explore-outlets">
                <div
                  class="bg-white rounded shadow-sm p-4 mb-4 restaurant-detailed-ratings-and-reviews">
                  <h5 class="mb-1">All Ratings and Reviews</h5>
                  <div class="reviews-members pt-4 pb-4" *ngFor="let c of commentList; index as i">
                    <div class="media">
                      <img alt="Generic placeholder image" src="{{c.customer.avatar}}"
                                       class="mr-3 rounded-pill">
                      <div class="media-body">
                        <div class="reviews-members-header">

                                                    <span class="star-rating float-right">
                                                        <span>{{c.rating}}</span><i class="icofont-ui-rating" style="color: gold"></i>
                                                        <span>{{5-c.rating}}</span><i class="icofont-ui-rating"></i>
                                                    </span>
                          <h6 class="mb-1">{{c.customer.name}}</h6>
                          <p class="text-gray">{{c.creatAt}}</p>
                        </div>
                        <div class="reviews-members-body">
                          <p>{{c.message}}</p>
                        </div>
                        <div class="reviews-members-footer">
                          <a class="total-like" style="color: palevioletred"><i class="icofont-thumbs-up"></i>
                            856M</a> <a class="total-like" style="color: palevioletred"><i
                          class="icofont-thumbs-down"></i> 158K</a>
                          <span class="total-like-user-main ml-2" dir="rtl">
                                                        <a data-toggle="tooltip" data-placement="top"
                                                           title="Gurdeep Osahan" ><img
                                                          alt="Generic placeholder image" src="assets/img/user/5.png"
                                                          class="total-like-user rounded-pill"></a>
                                                        <a data-toggle="tooltip" data-placement="top"
                                                           title="Gurdeep Singh" ><img
                                                          alt="Generic placeholder image" src="assets/img/user/2.png"
                                                          class="total-like-user rounded-pill"></a>
                                                        <a data-toggle="tooltip" data-placement="top"
                                                           title="Askbootstrap" ><img
                                                          alt="Generic placeholder image" src="assets/img/user/3.png"
                                                          class="total-like-user rounded-pill"></a>
                                                        <a data-toggle="tooltip" data-placement="top" title="Osahan"
                                                           ><img alt="Generic placeholder image"
                                                                         src="assets/img/user/4.png"
                                                                         class="total-like-user rounded-pill"></a>
                                                    </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>

                  <a class="text-center w-100 d-block mt-4 font-weight-bold" style="color: palevioletred">See All
                    Reviews</a>
                </div>


                <div class="bg-white rounded shadow-sm p-4 mb-5 rating-review-select-page" *ngIf="allowComment">
                  <h5 class="mb-4">Leave Comment</h5>
                  <p class="mb-2">Rate the Place</p>

                  <div class="mb-4">
                    <form>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="stars">
                            <input class="star star-5" id="star-5" type="radio" name="star" value="5" (click)="showValueStar(5)"/>
                            <label class="star star-5" for="star-5"></label>

                            <input class="star star-4" id="star-4" type="radio" name="star" value="4" (click)="showValueStar(4)"/>
                            <label class="star star-4" for="star-4"></label>

                            <input class="star star-3" id="star-3" type="radio" name="star" value="3" (click)="showValueStar(3)"/>
                            <label class="star star-3" for="star-3"></label>

                            <input class="star star-2" id="star-2" type="radio" name="star" value="2" (click)="showValueStar(2)"/>
                            <label class="star star-2" for="star-2"></label>

                            <input class="star star-1" id="star-1" type="radio" name="star" value="1" (click)="showValueStar(1)"/>
                            <label class="star star-1" for="star-1"></label>
                          </div>
                        </div>
                      </div>
                    </form>

                    <!--                                        <span class="star-rating">-->
                    <!--                                            <a href="#"><i class="icofont-ui-rating icofont-2x"></i></a>-->
                    <!--                                            <a href="#"><i class="icofont-ui-rating icofont-2x"></i></a>-->
                    <!--                                            <a href="#"><i class="icofont-ui-rating icofont-2x"></i></a>-->
                    <!--                                            <a href="#"><i class="icofont-ui-rating icofont-2x"></i></a>-->
                    <!--                                            <a href="#"><i class="icofont-ui-rating icofont-2x"></i></a>-->
                    <!--                                        </span>-->

                    <form>
                      <div class="form-group">
                        <label>Your Comment</label>
                        <textarea class="form-control" #contentComment></textarea>
                      </div>
                      <div class="form-group">
                        <button class="btn btn-primary btn-sm" type="button" (click)="sentComment(contentComment.value)"> Submit Comment
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
<!--                <h6 class="mb-3">-->
<!--                                        <span class="badge badge-success"><i class="icofont-tags"></i> 15%-->
<!--                                            giảm giá </span>-->
<!--                  <span class="badge badge-success"><i class="icofont-tags"></i> Giảm 25k</span>-->
<!--                </h6>-->
<!--                <div-->
<!--                  class="owl-carousel owl-theme owl-carousel-five offers-interested-carousel mb-3">-->
<!--                  <div class="item">-->
<!--                    <div class="mall-category-item">-->
<!--                      <a href="#">-->
<!--                        <img class="img-fluid" src="assets/img/list/1.png">-->
<!--                        <h6>Burgers</h6>-->
<!--                        <small>5 ITEMS</small>-->
<!--                      </a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="item">-->
<!--                    <div class="mall-category-item">-->
<!--                      <a href="#">-->
<!--                        <img class="img-fluid" src="assets/img/list/2.png">-->
<!--                        <h6>Sandwiches</h6>-->
<!--                        <small>8 ITEMS</small>-->
<!--                      </a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="item">-->
<!--                    <div class="mall-category-item">-->
<!--                      <a href="#">-->
<!--                        <img class="img-fluid" src="assets/img/list/3.png">-->
<!--                        <h6>Soups</h6>-->
<!--                        <small>2 ITEMS</small>-->
<!--                      </a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="item">-->
<!--                    <div class="mall-category-item">-->
<!--                      <a href="#">-->
<!--                        <img class="img-fluid" src="assets/img/list/4.png">-->
<!--                        <h6>Pizzas</h6>-->
<!--                        <small>56 ITEMS</small>-->
<!--                      </a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="item">-->
<!--                    <div class="mall-category-item">-->
<!--                      <a href="#">-->
<!--                        <img class="img-fluid" src="assets/img/list/5.png">-->
<!--                        <h6>Pastas</h6>-->
<!--                        <small>10 ITEMS</small>-->
<!--                      </a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="item">-->
<!--                    <div class="mall-category-item">-->
<!--                      <a href="#">-->
<!--                        <img class="img-fluid" src="assets/img/list/6.png">-->
<!--                        <h6>Chinese</h6>-->
<!--                        <small>25 ITEMS</small>-->
<!--                      </a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
              </div>

              <div class="row" >
                <h5 class="mb-4 mt-3 col-md-12">Top selling products</h5>



                <div class="col-md-4 col-sm-6 mb-4" *ngFor="let p of topSoldProduct">
                  <div
                    class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                    <div class="list-card-image">
                      <div class="star position-absolute"><span class="badge badge-success"><i
                                  class="icofont-star"></i> 3.1 ({{p.sold}}+)</span></div>
                      <div class="favourite-heart text-danger position-absolute"><a
                        href="#"><i class="icofont-heart"></i></a></div>
                      <div class="member-plan position-absolute"><span
                        class="badge badge-dark">Promoted</span></div>
                      <a [routerLink]="['/detail-product', p.id]">
                        <img src="{{p.image}}" class="img-fluid item-img">
                      </a>
                    </div>
                    <div class="p-3 position-relative">
                      <div class="list-card-body">
                        <h6 class="mb-1"><a href="#" class="text-black">{{p.name}}
                        </a>
                        </h6>
                        <p class="text-gray mb-2">{{p.seller.name}}</p>
                        <p class="text-gray time mb-0"><a
                          class="btn btn-link btn-sm text-black" ><span
                          class="badge badge-primary">Price</span>{{p.price}} </a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pb-2">
          <div
            class="bg-white rounded shadow-sm text-white mb-4 p-4 clearfix restaurant-detailed-earn-pts card-icon-overlap">
            <img class="img-fluid float-left mr-3" src="assets/img/earn-score-icon.png">
            <h6 class="pt-0 text-primary mb-1 font-weight-bold">VSATTP</h6>
            <p class="mb-0">Nhà hàng chứng nhận đảm bảo vệ sinh an toàn thực phẩm</p>
            <div class="icon-overlap">
              <i class="icofont-sale-discount"></i>
            </div>
          </div>
        </div>
        <div class="generator-bg rounded shadow-sm mb-4 p-4 osahan-cart-item">
          <h5 class="mb-1 text-white">COUPONS</h5>
          <p class="mb-4 text-white">List of store discount codes</p>

<!--          show list coupons-->
          <div class="bg-white rounded shadow-sm mb-2" *ngFor="let sale of saleList">
            <div class="gold-members p-2 border-bottom">
              <div class="media">
                <div class="mr-2"><i class="icofont-ui-press text-success food-item"></i></div>
                <div class="media-body">
                  <a  class=" text-success mr-2" href="#">{{sale.name}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
