<section class="section pt-5 pb-5 bg-white homepage-add-section" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-6" *ngFor="let category of categoryList">
        <div class="products-box">
          <a (click)="filterByCategory(category.id)"><img alt="" src="{{category.imageCategory}}"
                                                          class="img-fluid rounded">
            <br>
            <br><p style="text-align: center; color: #3ecf8e;">{{category.nameCategory}}</p></a>
        </div>
      </div>
      <!--      <div class="col-md-3 col-6">-->
      <!--        <div class="products-box">-->
      <!--          <a href="listing.html"><img alt="" src="../../../assets/img/category-2.jpg" class="img-fluid rounded">Vegetables</a>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--      <div class="col-md-3 col-6">-->
      <!--        <div class="products-box">-->
      <!--          <a href="listing.html"><img alt="" src="../../../assets/img/category-3.jpg" class="img-fluid rounded">Juices</a>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--      <div class="col-md-3 col-6">-->
      <!--        <div class="products-box">-->
      <!--          <a href="listing.html"><img alt="" src="../../../assets/img/category-4.jpg" class="img-fluid rounded">Dried</a>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
  </div>
</section>
<section class="section pt-5 pb-5 products-listing">
  <div class="container">
    <div class="row d-none-m">
      <div class="col-md-12">
        <div class="dropdown float-right">
          <a class="btn btn-outline-info dropdown-toggle btn-sm border-white-btn" href="#" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort by: <span class="text-theme">Price</span> &nbsp;&nbsp;
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow-sm border-0 ">
            <a class="dropdown-item" (click)="priceUp()">Price Up</a>
            <a class="dropdown-item" (click)="priceDown()">Price Down</a>
            <!--            <a class="dropdown-item" href="#">Rating</a>-->
          </div>
        </div>

        <div class="search-box" style="margin-bottom: 30px">
          <i class="icofont-search"></i>
          <input type="text" #find (input)="search(find.value)" placeholder="Search&hellip;" style="margin-right: 10px">
        </div>

        <h4 class="font-weight-bold mt-0 mb-3" style="margin-left: 70px">OFFERS <small class="h6 mb-0 ml-2">
        </small>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="filters shadow-sm rounded bg-white mb-4">
          <div class="filters-header border-bottom pl-4 pr-4 pt-3 pb-3">
            <h5 class="m-0">Filter By</h5>
          </div>
          <div class="filters-body">
            <div id="accordion">
              <div class="filters-card border-bottom p-4">
                <div class="custom-control custom-radio" *ngFor="let category of categoryList">
                  <input type="radio" id="{{category.nameCategory}}" name="customRadio" [value]="category.nameCategory"
                         (change)="filterByCategory(category.id)" checked="">
                  <label for="{{category.nameCategory}}"> {{category.nameCategory}} </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-9">

        <div class="row">
          <div class="col-md-4 col-sm-6 mb-4 pb-2"
               *ngFor=" let product of products |paginate: {itemsPerPage :6, currentPage :p}">
            <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
              <div class="list-card-image">
                <div class="star position-absolute"><span class="badge badge-success"> ({{product.sold}}+)</span></div>
                <div class="favourite-heart text-danger position-absolute"><a href="detail.html"><i
                  class="icofont-heart"></i></a></div>
                <div class="member-plan position-absolute"><span
                  class="badge badge-dark">Promoted</span></div>
                <a [routerLink]="['/detail-product', product.id]">
                  <img src="{{product.image}}" class="img-fluid item-img">
                </a>
              </div>
              <div class="p-3 position-relative">
                <div class="list-card-body">
                  <h6 class="mb-1" style="text-align: center"><a [routerLink]="['/detail-product', product.id]"
                                      class="text-black">{{product.name}}</a></h6>
                  <br>
                  <!--                  <p class="text-gray mb-3">Price: {{product.price}}</p>-->
                  <a [routerLink]="['/seller-detail', product.seller.id]" class="text-gray mb-3 time"><span
                    class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                    class="icofont-home"></i> {{product.seller.name}}</span> </a>
                  <br>
                  <br>
                  <!--                  <span class="float-right text-black-50"> {{}}</span>-->
                  <p  class="text-gray mb-3"><span><i class="icofont-address-book"></i></span> {{product.seller.address}}</p>

                </div>
                <div class="list-card-badge" style="text-align: right
">
                  <span class="badge badge-success">Price</span> {{product.price}}$
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 text-center load-more">
            <pagination-controls class="btn btn-sm btn-outline-primary" class="myPagination" (pageChange)="p = $event">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>





