
<section class="section pt-5 pb-5 bg-white homepage-add-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-6" *ngFor="let category of categoryList">
        <div class="products-box">
          <a (click)="filterByCategory(category.id)" ><img  alt="" src="{{category.imageCategory}}" class="img-fluid rounded">{{category.nameCategory}}</a>
        </div>
      </div>
<!--      <div class="col-md-3 col-6">-->
<!--        <div class="products-box">-->
<!--          <a href="listing.html"><img alt="" src="../../../assets/img/category-2.jpg" class="img-fluid rounded">Vegetables</a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-3 col-6">-->
<!--        <div class="products-box">-->
<!--          <a href="listing.html"><img alt="" src="../../../assets/img/category-3.jpg" class="img-fluid rounded">Juices</a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-3 col-6">-->
<!--        <div class="products-box">-->
<!--          <a href="listing.html"><img alt="" src="../../../assets/img/category-4.jpg" class="img-fluid rounded">Dried</a>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</section>
<section class="section pt-5 pb-5 products-listing">
  <div class="container">
    <div class="row d-none-m">
      <div class="col-md-12">
        <div class="dropdown float-right">
          <a class="btn btn-outline-info dropdown-toggle btn-sm border-white-btn" href="#" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort by: <span class="text-theme">Price</span> &nbsp;&nbsp;
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow-sm border-0 ">
            <a class="dropdown-item" (click)="priceUp()" >Price Up</a>
            <a class="dropdown-item" (click)="priceDown()" >Price Down</a>
<!--            <a class="dropdown-item" href="#">Rating</a>-->
          </div>
        </div>

        <div class="search-box">
          <i class="icofont-search"></i>
          <input type="text"  #find (input)="search(find.value)" placeholder="Search&hellip;">
        </div>

        <h4 class="font-weight-bold mt-0 mb-3">OFFERS <small class="h6 mb-0 ml-2">200 shops
        </small>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="filters shadow-sm rounded bg-white mb-4">
          <div class="filters-header border-bottom pl-4 pr-4 pt-3 pb-3">
            <h5 class="m-0">Filter By</h5>
          </div>
          <div class="filters-body">
            <div id="accordion">
              <div class="filters-card border-bottom p-4" >
                <div class="custom-control custom-radio">
                  <input type="radio" id="all" (click)="reload()">
                  <label for="all">All</label>
                </div>

                <div class="custom-control custom-radio" *ngFor="let category of categoryList">
                  <input type="radio" id="{{category.nameCategory}}" name="customRadio" [value]="category.nameCategory"
                       (change)="filterByCategory(category.id)">
                  <label  for="{{category.nameCategory}}">{{category.nameCategory}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-9">
        <div class="owl-carousel owl-carousel-category owl-theme list-cate-page mb-4">
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/img/list/1.png" alt="">
                <h6>American</h6>
                <p>156</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/img/list/2.png" alt="">
                <h6>Pizza</h6>
                <p>120</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/img/list/3.png" alt="">
                <h6>Healthy</h6>
                <p>130</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/img/list/4.png" alt="">
                <h6>Vegetarian</h6>
                <p>120</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/img/list/5.png" alt="">
                <h6>Chinese</h6>
                <p>111</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/img/list/6.png" alt="">
                <h6>Hamburgers</h6>
                <p>958</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/img/list/7.png" alt="">
                <h6>Dessert</h6>
                <p>56</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/img/list/8.png" alt="">
                <h6>Chicken</h6>
                <p>40</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="osahan-category-item">
              <a href="#">
                <img class="img-fluid" src="assets/img/list/9.png" alt="">
                <h6>Indian</h6>
                <p>156</p>
              </a>
            </div>
          </div>
        </div>

        <div class="row" >
          <div class="col-md-4 col-sm-6 mb-4 pb-2" *ngFor=" let product of products |paginate: {itemsPerPage :6, currentPage :p}" >
            <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
              <div class="list-card-image">
                <div class="star position-absolute"><span class="badge badge-success"><i
                  class="icofont-star"></i> 3.1 ({{product.sold}}+)</span></div>
                <div class="favourite-heart text-danger position-absolute"><a href="detail.html"><i
                  class="icofont-heart"></i></a></div>
                <div class="member-plan position-absolute"><span
                  class="badge badge-dark">Promoted</span></div>
                <a [routerLink]="['/detail-product', product.id]" >
                  <img src="{{product.image}}" class="img-fluid item-img">
                </a>
              </div>
              <div class="p-3 position-relative">
                <div class="list-card-body">
                  <h6 class="mb-1"><a  [routerLink]="['/detail-product', product.id]" class="text-black">{{product.name}}</a></h6>
<!--                  <p class="text-gray mb-3">Price: {{product.price}}</p>-->
                  <a [routerLink]="['/seller-detail', product.seller.id]"  class="text-gray mb-3 time"><span
                    class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                    class="icofont-home"></i>{{product.seller.name}}</span> </a>
<!--                  <span class="float-right text-black-50"> {{}}</span>-->
                  <p class="text-gray mb-3">Add: {{product.seller.address}}</p>

                </div>
                <div class="list-card-badge">
                  <span class="badge badge-success">Price</span> {{product.price}}
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 text-center load-more">
            <pagination-controls class="btn btn-sm btn-outline-primary" class="myPagination" (pageChange)="p = $event">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>





