<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container">

  <h1>Register Customer</h1>
  <form [formGroup]="registerCustomerForm" (ngSubmit)="registerCustomer()">
    <table>
      <tr>
        <td><input placeholder="Enter name" formControlName="name" size="45" style="margin-bottom: 20px">
          <p style="color: red" *ngIf="!registerCustomerForm.get('name')?.valid && registerCustomerForm.get('name')?.touched">Blank is not allowed.</p>
        </td>
      </tr>
      <tr>
        <td><input placeholder="Enter a number phone" formControlName="phoneNumber" size="45" style="margin-bottom: 20px">
          <p style="color: red" *ngIf="!registerCustomerForm.get('phoneNumber')?.valid && registerCustomerForm.get('phoneNumber')?.touched">Blank is not allowed, start with 0, includes 10 numbers</p>
        </td>
      </tr>
      <tr>
        <td><input placeholder="Enter avatar" formControlName="avatar" size="45" style="margin-bottom: 20px">
          <p style="color: red" *ngIf="!registerCustomerForm.get('avatar')?.valid && registerCustomerForm.get('avatar')?.touched">Blank is not allowed.</p>
        </td>
      </tr>
      <tr>
        <td><input placeholder="Enter address" formControlName="address" size="45" style="margin-bottom: 20px">
          <p style="color: red" *ngIf="!registerCustomerForm.get('address')?.valid && registerCustomerForm.get('address')?.touched">Blank is not allowed</p>
        </td>
      </tr>
      <table formGroupName="appUser">
        <tr>
          <td><input type="email" placeholder="Enter username" formControlName="username" size="45" style="margin-bottom: 20px">
            <p style="color: red" *ngIf="!registerCustomerForm.get('appUser')?.get('username')?.valid && registerCustomerForm.get('appUser')?.get('username')?.touched">Blank is not allowed, format: example@gmail.com, maxlength: 50</p>
            <p style="color: red" *ngIf="check">Duplicate user name, please enter another user name</p>
          </td>
        </tr>
        <tr>
          <td><input type="password" placeholder="Enter password" formControlName="password" size="45" style="margin-bottom: 20px">
            <p style="color: red" *ngIf="!registerCustomerForm.get('appUser')?.get('password')?.valid && registerCustomerForm.get('appUser')?.get('password')?.touched">Blank is not allowed, minlength: 4, maxlength: 20</p>
          </td>
        </tr>
      </table>
    </table>
    <button type="submit" class="btn btn-primary" style="margin-right: 10px">Register</button>
    <button class="btn btn-secondary" routerLink="/">Cancel</button>
  </form>
</div>

