<div class="tab-pane fade show active" id="orders" role="tabpanel"
     aria-labelledby="orders-tab"></div>
  <h4 class="font-weight-bold mt-0 mb-4">Product List</h4>
  <div class="bg-white card mb-4 order-list shadow-sm"*ngFor="let product of products |paginate: {itemsPerPage :4, currentPage :p}" >
    <div class="gold-members p-4" >
      <a href="#">
        <div class="media">
          <img class="mr-4" src="{{product.image}}" alt="Generic placeholder image">
          <div class="media-body">
                                                    <span class="float-right text-info">Delivered on Mon, Nov 12, 7:18
                                                        PM <i class="icofont-check-circled text-success"></i></span>
            <h6 class="mb-2">
              <a href="detail.html" class="text-black">{{product.name}}
              </a>
            </h6>
            <p class="text-gray mb-1"><i class="icofont-location-arrow"></i> {{product.seller.address}}
            </p>
            <p class="text-gray mb-3"><i class="icofont-list"></i> ORDER
              #25102589748 <i class="icofont-clock-time ml-2"></i> Mon, Nov
              12, 6:26 PM</p>
            <p class="text-dark">Product Description:
            </p>
            <p>{{product.description}}</p>
            <hr>
            <div class="float-right">
              <button class="btn btn-sm btn-outline-primary" href="#"><a><i
                class="icofont-edit-alt"></i> EDIT</a></button>
              <button class="btn btn-sm btn-primary" href="detail.html"><a><i
                class="icofont-delete-alt"></i> EDIT</a></button>
            </div>
            <p class="mb-0 text-black text-primary pt-2"><span
              class="text-black font-weight-bold"> Quantity Product: </span>--{{product.price}}--
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
<div>
  <pagination-controls class="btn btn-sm btn-outline-primary" class="myPagination" (pageChange)="p = $event">
  </pagination-controls>
</div>


